src/main/mule/server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6682acfb-9a9c-4a1d-b454-84b54552fee4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="serverFlow" doc:id="98ebca98-e963-401f-8dd7-8d91430b1ae8" >
		<http:listener doc:name="Listener" doc:id="ac0acbc3-24a8-4a64-9c59-b24b725ecc29" config-ref="HTTP_Listener_config" path="/hi"/>
		<set-payload value='#["hiii"]' doc:name="Set Payload" doc:id="314c993e-af0e-408b-9477-c0972a6ffdfb" />
	</flow>
</mule>
